body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins";
}

.outlined-text-field {
  width: 20%;
}

.outlined-text-field input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid;
  border-color: white;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  color: white;
}

.outlined-text-field label {
  font-size: 12px;
  color: white;
}

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-page::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:
    linear-gradient(120deg, #6100C2 50%, #191817 70%), 
    url('./assets/loginBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
  background-blend-mode: multiply;
  filter: blur(6px);
  transform: scale(1.1);
}

a {
  color: white;
  text-decoration: underline; 
  font-weight: 500;
}

a:hover {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: white;
}

.title-logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.button-default {
  background-color: #6100C2;
  color: white;
  border-radius: 14px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}

.main-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main-layout #navbar {
  height: 100%;
  width: 18%;
  position: fixed;
  background-color: #21201E;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  box-sizing: border-box;
  box-shadow: -20px 0px 90px rgba(97, 0, 194, 1);
  gap: 60px;
}

.main-layout #main-content {
  margin-left: 18%;
  margin-top: 65px;
  height: 100%;
  width: 100%;
}

.main-layout #menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
  padding-left: 32px;
}

.main-layout #header {
  width: 82%;
  height: 65px;
  position: fixed;
  display: flex;
  color: white;
  margin-left: 18%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;
  justify-content: space-between;
  background-image: linear-gradient(140deg, rgb(53, 12, 94), rgb(162, 100, 223));
  box-sizing: border-box;
}

.movie-card-default {
  position: relative;
  border-radius: 10px;
  min-width: 15%;
  height: auto;
  overflow: hidden;
}

.movie-card-default #description {
  position: absolute;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 8px;
  height: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie-card-default:hover {
  cursor: pointer;
}

.movie-card-default:hover #description {
  background-image: linear-gradient(140deg, rgb(119, 50, 188), rgb(197, 141, 252));
  color: white;
}

.movie-card-default img {
  height: 100%;
  width: 100%;
}

.movie-card-wider {
  position: relative;
  border-radius: 10px;
  min-width: 20%;
  height: auto;
  overflow: hidden;
}

.movie-card-wider #description {
  position: absolute;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 13px;
  font-weight: 600;
  padding: 8px;
  height: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie-card-wider img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.movie-card-wider:hover {
  cursor: pointer;
}

.movie-card-wider:hover #description {
  background-image: linear-gradient(140deg, rgb(119, 50, 188), rgb(197, 141, 252));
  color: white;
}

.movie-cards-parent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.movie-cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-content {
  padding-left: 32px;
  padding-right: 12px;
  padding-bottom: 32px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-image: linear-gradient(135deg, #191817, #191817, #37312A);
  height: 100vh;
  width: auto;
  align-items: center;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.search-result {
  height: 100vh;
  width: auto;
}

.clear-search {
  height: 36px;
  width: 28px;
}

.clear-search:hover {
  cursor: pointer;
}

.media-type {
  all: unset;
}

.media-type:hover {
  cursor: pointer;
  opacity: 1;
}

.type-selected {
  opacity: 1;
}

.type-unselected {
  opacity: 0.7;
}